# Global Owners
* @l0rd @ibuziuk @vinokurig @nickboldt 

# che.properties (quasi-documentation)
assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/che/** @osslate 

# workspace runtime infrastructure implementations
infrastructures/** @amisevsk 

# multiuser che
multiuser/**  @mshaposhnik

# wsmaster
wsmaster/** @vinokurig @mshaposhnik

# deploy
deploy/** @tolusha @dkwon17

# e2e tests
tests/e2e/** @musienko-maxim
