#
# Copyright (c) 2020 Red Hat, Inc.
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which is available at https://www.eclipse.org/legal/epl-2.0/
#
# SPDX-License-Identifier: EPL-2.0
#

name: build-pr-check

on: [push, pull_request]

env:
  PR_IMAGE_TAG: pr-${{ github.event.pull_request.number }}

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Check all properties have description
      run: ./check_properties_description.sh
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'
        cache: 'maven'
    - name: Set up QEMU
      # Skip this and other docker related steps, if the PR is from a forked repo. GitHub secrets
      # are not available for forked repos, so the podman login step will fail.
      # See https://docs.github.com/en/actions/security-for-github-actions/security-guides/using-secrets-in-github-actions#using-secrets-in-a-workflow
      if: ${{ ! github.event.pull_request.head.repo.fork }}
      uses: docker/setup-qemu-action@v3
    - name: Login to quay.io
      if: ${{ github.event_name == 'pull_request' && ! github.event.pull_request.head.repo.fork }}
      uses: redhat-actions/podman-login@v1.7
      with:
        username: ${{ secrets.QUAY_USERNAME }}
        password: ${{ secrets.QUAY_PASSWORD }}
        registry: quay.io
    - name: Build with Maven
      run: mvn -B clean install -U -Pintegration
      env:
        DEVELOCITY_ACCESS_KEY: ${{ secrets.DEVELOCITY_API_TOKEN }}
    - name: Build and push images
      if: ${{ github.event_name == 'pull_request' && ! github.event.pull_request.head.repo.fork }}
      run: ./build/build.sh --tag:${{ env.PR_IMAGE_TAG }} --build-platforms:linux/amd64,linux/ppc64le,linux/arm64,linux/s390x --builder:podman --push-image
